<div class="cover">
  <div
    class="ui top attached small menu"
    id="header"
  >
    <div class="ui tiny image"><img src="assets/images/logo.png"></div>
    <div class="right menu">
      <a
        href="#"
        target="_blank"
        class="ui icon basic button"
      ><i class="sign out icon"></i> יציאה
        </a>
    </div>
</div>
<div class="ui centered grid">
  <div
    class="row"
    id="filters"
  >
    <div class="ui secondary large menu">
      <div class="item">
        <h4 class="ui header">
          <div class="content">
            הצגת נתונים על-פי &nbsp;
            <div class="ui buttons">
              <button class="ui basic red button">כיתה</button>
              <button class="ui basic blue button">מקצוע</button>
              <button class="ui basic green button">התאמה</button>
            </div>
          </div>
        </h4>
      </div>

      <div class="item">
        <div class="ui compact menu">
          <div class="ui simple dropdown item">
            כיתה
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item">יא1</div>
              <div class="item">יא2</div>
              <div class="item">יא3</div>
            </div>
          </div>
        </div>

      </div>
      <div class="item">
        <div class="ui icon input">
          <input
            type="text"
            placeholder="שם תלמיד או תעודת זהות...."
          >
            <i class="search link icon"></i>
        </div>
      </div>
    </div>
</div>
<div class="row">
  <div class="sea-card">
    <table class="ui table">
      <thead>
        <tr>
          <th>שם התלמיד</th>
          <th>תעודת זהות</th>
          <th>הארכת זמן</th>
          <th>הקראה אבחון</th>
          <th>הארכת זמן</th>
          <th>הקראה אבחון</th>
          <th>הארכת זמן</th>
          <th>הקראה אבחון</th>
          <th>הארכת זמן</th>
          <th>הקראה אבחון</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>בוסי הודיה</td>
          <td>315141820</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
        </tr>
        <tr>
          <td>ביטון אברהם</td>
          <td>318899903</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
          <td></td>
          <td>X</td>
          <td></td>
          <td>X</td>
          <td></td>
        </tr>
        <tr>
          <td>חרפוף סהר</td>
          <td>318899903</td>
          <td></td>
          <td>X</td>
          <td></td>
          <td>X</td>
          <td>X</td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <td>חרפוף סהר</td>
          <td>318899903</td>
          <td></td>
          <td>X</td>
          <td></td>
          <td>X</td>
          <td>X</td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <td>חרפוף סהר</td>
          <td>318899903</td>
          <td></td>
          <td>X</td>
          <td></td>
          <td>X</td>
          <td>X</td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <td>חרפוף סהר</td>
          <td>318899903</td>
          <td></td>
          <td>X</td>
          <td></td>
          <td>X</td>
          <td>X</td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <td>חרפוף סהר</td>
          <td>318899903</td>
          <td></td>
          <td>X</td>
          <td></td>
          <td>X</td>
          <td>X</td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
</div>