<div class="cover">
  <div
    class="ui top attached small menu"
    id="header"
  >
    <div class="ui tiny image">
      <img src="assets/images/logo.png">
    </div>
    <div class="right menu">
      <a
        href="#"
        target="_blank"
        class="ui icon basic button"
      >
        <i class="sign out icon"></i> יציאה
        </a>
    </div>
</div>
<div class="ui centered grid">
  <div
    class="row"
    id="data-selector-area"
  >
    <h3 class="ui header">
      <div class="content">
        מציג התאמות עבור תלמידים &nbsp;
        <sui-select
          class="ui floating dropdown data-selector"
          [(ngModel)]="displayCategory"
          [options]="displayOptions"
          labelField="name"
          placeholder="בחרי קטגוריית תצוגה"
          #selectDisplay
        >
          <sui-select-option
            *ngFor="let option of selectDisplay.filteredOptions"
            [value]="option"
          ></sui-select-option>
            </sui-select>
            <sui-select
              class="ui floating dropdown data-selector"
              [(ngModel)]="classCategory"
              [options]="classOptions"
              labelField="name"
              placeholder="כיתה..."
              #selectClass
            >
              <sui-select-option
                *ngFor="let option of selectClass.filteredOptions"
                [value]="option"
              >
                </sui-select-option>
                </sui-select>

      </div>
    </h3>
</div>
<div class="row">
  <div class="col-2">
    <div
      class="sea-card"
      id="filters"
    >
      <div>
        <sui-search
          placeholder="שם או תעודת זהות..."
          [hasIcon]="true"
          [searchDelay]="0"
        ></sui-search>
      </div>
      <div class="ui divider"></div>
      <div>
        <sui-multi-select
          [(ngModel)]="helperFilter"
          [options]="helperOptions"
          labelField="name"
          placeholder="התאמות"
          [maxSelected]="5"
          icon="columns icon"
          #selectHelpers
        >
          <div class="ui icon search input">
            <i class="search icon"></i>
            <input
              suiSelectSearch
              type="text"
              placeholder="התאמה..."
            >
          </div>
          <div class="divider"></div>
          <div class="header">
            <i class="list icon"></i> התאמות
          </div>
          <div class="scrolling menu">
            <sui-select-option
              *ngFor="let o of selectHelpers.filteredOptions"
              [value]="o"
            ></sui-select-option>
          </div>
          </sui-multi-select>
      </div>

  </div>
</div>
<div class="col-10">
  <div class="sea-card">
    <table class="ui table">
      <thead>
        <tr>
          <th>שם התלמיד</th>
          <th>תעודת זהות</th>
          <th>כיתה</th>
          <th>תוספת זמן של 25%</th>
          <th>התעלמות משגיאות כתיב</th>
          <th>הקראת שאלון</th>
          <th>הכתבת תשובות לבוחן נטראלי</th>
          <th>שעתוק בחינה</th>
          <th>בחינה בע"פ</th>
          <th>שאלון מותאם</th>
          <th>הגדלת שאלון</th>
          <th>דף נוסחאות מורחב</th>
          <th>שימוש במילונית ממוחשבת</th>
          <th>הקראת תשובות לקלטת</th>
          <th>השמעת שאלון מקלטת</th>
          <th>המלצות נוספות</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>אדלה ברוך</td>
          <td>044832771</td>
          <td>יא1</td>
          <td>X</td>
          <td>X לשון</td>
          <td>X בפיסיקה ומערכות מכונאות</td>
          <td></td>
          <td></td>
          <td>X</td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>בוסקילה סהר</td>
          <td>031330722</td>
          <td>יא2</td>
          <td>X מתמטיקה</td>
          <td>X אנגלית</td>
          <td></td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
          <td>X</td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <td>אברהם אביב</td>
          <td>320114221</td>
          <td>יא2</td>
          <td></td>
          <td>X אנגלית ומתמטיקה</td>
          <td>X</td>
          <td>X ברבי מלל</td>
          <td></td>
          <td></td>
          <td></td>
          <td>X ברבי מלל ומתמטיקה</td>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
          <td></td>
        </tr>
        <tr>
          <td>יחיא שגיא</td>
          <td>022411764</td>
          <td>ט3</td>
          <td></td>
          <td>X מתמטיקה, מכונאות ומכניקה</td>
          <td></td>
          <td></td>
          <td>X מתמטיקה ופיקוד ובקרה</td>
          <td></td>
          <td></td>
          <td>X רבי מלל, לשון ומתמטיקה</td>
          <td>X</td>
          <td></td>
          <td></td>
          <td>X</td>
          <td>X</td>
        </tr>
        <tr>
          <td>חיון שחר</td>
          <td>011842227</td>
          <td>ט2</td>
          <td>X</td>
          <td>X מתמטיקה, מכונאות ומכניקה</td>
          <td></td>
          <td></td>
          <td></td>
          <td>X מכניקה הנדסית ומע' מכונאות</td>
          <td></td>
          <td>X</td>
          <td>X מתמטיקה, חשמל ופיקוד ובקרה</td>
          <td>X</td>
          <td></td>
          <td>X</td>
          <td>X</td>
        </tr>
        <tr>
          <td>לינור כחלון</td>
          <td>114662281</td>
          <td>י3</td>
          <td></td>
          <td></td>
          <td>X מתמטיקה, פיסיקה ומע' מכונאות</td>
          <td></td>
          <td>X מתמטיקה, חשמל, פיסיקה ופיקוד ובקרה</td>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <td>יובל רוזנבלט</td>
          <td>022441106</td>
          <td>י3</td>
          <td>X מכניקה הנדסית, מכונאות ומתמטיקה</td>
          <td></td>
          <td></td>
          <td>X ברבי מלל</td>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
          <td></td>
          <td>X</td>
          <td>X</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
<div
  class="row"
  id="footer-area"
>
  <h4>מספר תלמידים:
    <span>10</span>
  </h4>
  <button class="ui basic button">
    הוספת תלמיד/ה &nbsp;
    <i class="icon plus"></i>
  </button>

  </div>
  </div>